{% extends "base.html" %}

{% block title %}
<title>Bookstore home page</title>
{% endblock %}

{% block content %}
  <ul>
    {% for book in books %}
    <li>{{ book.title }}</li>
      {% for author in authors %}
        {% if book.author_id == author.id %}
        <li>{{ author.first_name }} {{ author.last_name }}</li>
        {% endif %}
      {% endfor %}
    <li>{{ book.released_year}}</li>
    <li>{{ book.description|slice:100 }}</li>
    <li><a href="{% url 'book_detail' book.id %}">Detail description</a></li>
    {% endfor %}
  </ul>
{% endblock %}
