{% extends "base.html" %}

{% block title %}
<title>{{ author.first_name }} {{ author.last_name }}</title>
{% endblock %}

{% block content %}
  {% include 'bookstore/menu.html' %}
  <div class="row">
    <div class="col g-0 bg-success p-2 text-dark bg-opacity-10 shadow-lg p-3 bg-body rounded">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-primary">{{ author.first_name }} {{ author.last_name }}</h3>
          <h6 class="text-black-50">Age: {{ author.age}}</h6>
          <a href="{% url 'bookstore:author_book_list' author.id %}" class="btn btn-primary">More author's books</a>
          <a href="{% url 'bookstore:index' %}" class="btn btn-primary">Back to bookstore</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
