{% extends "base.html" %}

{% block title %}
<title>{{ book.title }}</title>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col g-0 bg-success p-2 text-dark bg-opacity-10 shadow-lg p-3 mb-5 bg-body rounded">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-primary">{{ book.title }}</h4>
          <h6 class="text-black-50">{{ book.released_year}}</h6>
          <h5 class="text-secondary">{{ book.author.first_name }} {{ book.author.last_name }}</h5>
          <p class="card-text">{{ book.description }}</p>
          <a href="{% url 'bookstore:author_detail' book.author.id %}"
                class="btn btn-primary">About author</a>
          <a href="{% url 'bookstore:index' %}" class="btn btn-primary">Back to bookstore</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
