{% extends "base.html" %}

{% block title %}
<title>Bookstore home page</title>
{% endblock %}

{% block content %}
  <div class="row row-cols-1">
    <div class="col g-0 bg-success text-dark bg-opacity-10 shadow-lg p-2 bg-body rounded">
      <h1 class="card-title text-primary text-opacity-50 text-center">Welcome to the bookstore</h1>
    </div>
  </div>

  {% include 'bookstore/menu.html' %}

    <form action="" method="get">
      <input class="border-info rounded" type="text" name="search_text" placeholder="Enter book title">
      <input class="btn btn-info text-white" type="submit" value="Search">
    </form>

  <div class="row row-cols-3">
    {% for book in books %}
    <div class="col g-0 bg-success text-dark bg-opacity-10 shadow-lg p-2 bg-body rounded">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-primary">{{ book.title }}</h4>
          <h6 class="text-black-50">{{ book.released_year}}</h6>
          <h5 class="text-secondary">{{ book.author.first_name }} {{ book.author.last_name }}</h5>

          <p class="card-text">{{ book.description|slice:100 }}...
          <a href="{% url 'bookstore:book_detail' book.id %}" class="card-link">detail description</a></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
